/* You can add global styles to this file, and also import other style files */

html,
body {
  max-width: 900px;
  max-height: 600px;
  margin: 0 auto;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
